* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto',sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 50px;

}

.alumno {
    padding: 50px;
}

.input-group-text {
    background-color:#fff ;
    border:#fff
}
