body{
    font-family: 'Raleway', sans-serif;
    background-color: black;
    color:white;
    text-align: center;  
}

.iguanafondo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.iguana1{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 240px;
}

.iguana2{
    width: 316px;
    height: 202px;
}
.iguana3{
    width: 316px;
    height: 202px;
}
.iguana4{
    width: 316px;
    height: 202px;
}

.column {
    float: left;
    width: 33.33%;
  }

#intro{
    align-content: center;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 20%;
}  

#caracteristicas{
    background-color: #1E1A13;
    margin-top:200px;
    padding-top: 10%;
    padding-bottom: 10%;
}

#galeria{
    border:5px;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 200px;
}

footer{
    background-color: #1E1A13;
    padding-top: 10%;
    padding-bottom: 10%;
}

h1{
    font-weight: medium;
    font-size: 50;
}

h2{
}

h3{
}

h4{
}

h5{
}

h6{
}

p{
    font-weight: lighter;
    font-size: 16;
    text-align: left;
}
