/* {} */

.navbar {
    margin-bottom: 20px;
    color:white;
}

.container{
    text-align: center;
    align-items: center;
    margin:0;
    padding:0;
}

body{
    font-family: 'Cabin', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 20px;
}

#suscripcion{
  padding:5%;
  background-color: #DC3545;
  color:antiquewhite;
}

#logo_ricomida{
    height: 30px;
    width: 100px;
}

#foto_principal{
    height: 300px;
    width: 400px;
}

/* Tipografía por tipo y párrafo*/
h1{
  text-align: left;
}

h2{

}

h3{

}

h4{

}

h5{

}

h6{

}

p{

}

.card{
  text-align: left;
}

footer{
  background-color: #343A40;
}

#logo_footer{
  height: 30px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;  
}

/* ____ */


